# Archivos compilados y log 
target/
*.class
*.log
*.log.*

# IDEs
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
bin/

# Bloquear application properties
src/main/resources/application.properties
application.properties
**/application.properties
.env


HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/