@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap");

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem 1rem 6rem;
  background-color: #d9e4de;
}

.footer {
  text-align: center;
  padding: 2rem;
  background-color: #eb9121;
  font-size: 0.9rem;
  font-family: "Outfit", sans-serif;
}

/*-----------------------------------------------*/
@media (max-width: 600px) {

 .loginBtn {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem; 
    font-size: 0.8rem;
    width: 7rem;
  }

  .loginBtn::after {
    font-size: 0.8rem;
  }
}

@media print {
  .footer {
    display: none !important;
  }
}